{% extends "event_site/base.html" %}
{% load static %}

{% block content %}
<div align="center">
	<h4>{{ object.title }}</h4>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-8">
			<b>Autores: </b> {{ object.authors }}
			<b>Objetivo: </b> {{ object.goal }}
			<b>Público Alvo: </b> {{ object.public }}
			<b>Vagas: </b> {{ object.vacancies }}
			<b>Pré-requisitos: </b> {{ object.requirements}}
		</div>

		<div class="col-4">
			<br><b>Carga Horária: </b> {{ object.workload}}
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-8">  
		<br><b>Descrição: </b> {{ object.description }}
	</div>
</div>
<br><br><br>
<div align="center">
	<div class="container">        
		<table class="table">
			<thead>
				<tr>
					<th>Turma</th>
					<th>Turno</th>
					<th>Inscrição</th>
				</tr>
			</thead>
			<tbody>
				{% for group in groups %}
					
				<tr>
					<td>{{ group }}</td>
					<td>{{ group.get_shift_display }}</td>
					<td>{% if registred == 'not_user' %}
						<button class="btn btn-danger" disabled>Necessário Login Para Inscrição</button>
						{% elif registred == 'valid' %}
						<button class="btn btn-success" disabled>Inscrito</button>
						{% else %}
						<a href="{% url 'event-registration' group.pk %}" class="btn btn-success btn-info">Realizar Inscrição</a>
					{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endblock content %}