{% extends "event_site/base.html" %}

{% block content %}<br>
	Em avaliação
    {% for event in inavaliation %}
        {% include "events/events-table.html" %}
    {% endfor %}<br>
    Aprovados
    {% for event in approved %}
        {% include "events/events-table.html" %}
    {% endfor %}<br>
    Não Aprovados
    {% for event in notapproved %}
        {% include "events/events-table.html" %}
    {% endfor %}<br>
    Necessita Correção
    {% for event in incorrections %}
        {% include "events/events-table.html" %}
    {% endfor %}
{% endblock content %}
