{% extends "event_site/base.html" %}

{% block content %}

<section>
  <div class="container">
    <h1>Meus eventos</h1>
    <div class="row">
      <div class="col-md-6">
        <hr>
        <h3>Minhas Inscrições</h3>
        {% for obj in object_list %}
          {{ obj }}
        {% endfor %}
        <hr>
      </div>
      <div class="col-md-6">
        <hr>
        <h3>Minhas Submissões</h3>
        {% for event in events %}
          {{ event }}
        {% endfor %}
        {% for experiment in experiments %}
          {{ experiment }}
        {% endfor %}
        <hr>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
