{% extends "event_site/base.html" %}

{% block content %}

<section>
  <div class="container">
    <h1>Meus eventos</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3>Minhas Inscrições</h3>
        <table class="table">
          <thead>
            <th>Turma</th>
            <th>Data</th>
            <th>Local</th>
          </thead>
          <tbody>
            {% for obj in request.user.registrations.all %}
              <tr>
                <td>{{ obj.group }}</td>
                <td>{{ obj.group.date }}</td>
                <td>{{ obj.group.local }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h3>Minhas Submissões</h3>
        <table class="table">
          <thead>
            <th>Título</th>
            <th>Tipo</th>
            <th>Status</th>
            <th>Turmas</th>
          </thead>
          <tbody>
            {% for event in request.user.author_events.all %}
              <tr>
                <td><a href="{% url 'event-detail' event.pk %}">{{ event.title }}</a></td>
                <td>Minicurso</td>
                <td>{{ event.get_status_display }}</td>
                <td><a href="{% url 'group-list' event.pk %}">turmas</a></td>
              </tr>
            {% endfor %}
            {% for experiment in request.user.author_experiments.all %}
              <tr>
                <td>{{ experiment.title }}</td>
                <td>Experimento</td>
                <td>{{ experiment.get_status_display }}</td>
                <td>-</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <hr>
  </div>
</section>

{% endblock content %}
