{% extends "event_site/base.html" %}

{% block content %}
<br>
  <h4>Meus Eventos</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Evento</th>
        <th>Data Inicial</th>
        <th>Data Final</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>
            <a href="{% url 'event-detail' object.event.pk %}">{{ object.event.title }}</a>
          </td>
          <td>
            {{ object.event.start_date }}
          </td>
          <td>
            {{ object.event.end_date }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}