{% extends "easy_pdf/base.html" %}

{% block content %}
<style type="text/css">
	
h1{
	font-size: 35px; 
}
p{
	font-size: 15px;
}
h2{
	font-size: 20px; 
}
h3{
	font-size: 13px; 
}
</style>
<center>
<h1>Certificado de Participacao</h1>
<br>
<p>Certificamos que:</p>
<h2><b>{{ object.user.get_full_name }}</b></h2> 
<p>Participou do(a) <b>{{ object.event.title }}</b> organizado por {{ object.event.organization }}, com carga horaria de {{ object.event.workload }} horas </p>

<h3>{{ object.event.local }}, {{ object.event.start_date|date:"d" }}
de {{ object.event.start_date|date:"F" }}
de {{ object.event.start_date|date:"Y" }}
</h3>
</center>


{% endblock content %}