
{% extends 'event_site/base.html' %}
{% load static %}

{% block content %}
<br>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Cadastrar</button>
  </form>
  <br><br>
{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script type="text/javascript">
  $('#id_username').mask('000.000.000-00', {reverse: true});
</script>

{% endblock js %}

