{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Moepex</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-green fixed-top">
      <div class="container">
        <a href="{% url 'home' %}"><img class="logo"src="{% static "img/logo.jpg" %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% if request.user.is_superuser%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Todos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'event-inavaliation' %}">Em avaliação</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'event-incorrections' %}">Em correção</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'event-approved' %}">Aprovados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'event-noapproved' %}">Negados</a>
            </li>
            {% endif %}
            {% if request.user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="far fa-calendar-alt"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}"><i class="fa fa-user"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fas fa-user-lock"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
</nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      {% block content %}
      {% endblock content %}
    </main>

    <footer class="footer">
      <div class="row offset-5">
        <img class="banner_if"src="{% static "img/banner_ifrs.jpg" %}">
      </div>
    </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
