{% extends "event_site/base.html" %}

{% load staticfiles %}

{% block page_title %}Apresentação Oral{% endblock page_title %}

{% block content %}

   <section>
      <div class="container">
        <h1>Apresentação Oral e Banner</h1>
        <ol>
          <li>Escrever um resumo conforme <a href="{% static 'docs/modelo-resumo.docx'%}">modelo</a>.</li>
          <li>
            Submeter no
            <a href="https://eventos.ifrs.edu.br/index.php/MoEPExIbiruba/7moepex/author/submit" target="_blank">sistema de eventos</a>.
          </li>
          <li>Caso a apresentação for por meio de poster, utilizar este <a href="{% static 'docs/modelo-poster.pptx'%}">modelo</a>.</li>
          <li>Caso a apresentação for por meio de poster, utilizar este <a href="{% static 'docs/modelo-apresentacao-oral.pptx'%}">modelo</a>.</li>

      </ol>
      </div>
  </section>

{% endblock %}
